apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_key": "access_key",
      "secret_key": "secret_key",
      "region": "cn-beijing-6"
    }
